
/*reset y variables de css */
*,
*::before,
**::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  :root{
    --color-primary: #6366f1;
    --clor-primary-dark: #4f46e5;
    --color-secundary: #8b5cf6;
    --color-accent: #f59e0b;
  }