
/*reset y variables de css */
*,
*::before,
**::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  :root{
    */colores ptincipales*/
    --color-primary: #6366f1;
    --clor-primary-dark: #4f46e5;
    --color-secundary: #8b5cf6;
    --color-accent: #f59e0b;
    /*  colores de texto */
    --color-text: #1f1f1f;
    --color-text-light: #666;
    --color-text-invrtse: #ffffff;
    /* Fondos */
    --clor-fg: #ffffff;
    --color-bg-muted: #f9fafb;
    --bg-dark: #111827;
    /* Espaciado*/
     
}